mixin tableColumn(quest)
    ul
        li #{quest.nickname}

        if quest.quests.yeoro
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.chuchu
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.lachelein
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.arcana
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.morass
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.esfera
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.cernium
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.buringCernium
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.arcs
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)

        if quest.quests.odium
            li
                input(type="checkbox", value=`${quest.nickname}`, checked)
        else
            li
                input(type="checkbox", value=`${quest.nickname}`)
