mixin tableColumn(quest)
    ul
        li #{quest.nickname}

        if quest.quests.yeoro
            li
                input(type="checkbox", value=`${quest.nickname}`, name="yeoro", checked).yeoro
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="yeoro").yeoro

        if quest.quests.chuchu
            li
                input(type="checkbox", value=`${quest.nickname}`, name="chuchu" checked).chuchu
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="chuchu").chuchu

        if quest.quests.lachelein
            li
                input(type="checkbox", value=`${quest.nickname}`, name="lachelein" checked).lachelein
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="lachelein").lachelein

        if quest.quests.arcana
            li
                input(type="checkbox", value=`${quest.nickname}`, name="arcana" checked).arcana
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="arcana").arcana

        if quest.quests.morass
            li
                input(type="checkbox", value=`${quest.nickname}`, name="morass" checked).morass
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="morass").morass

        if quest.quests.esfera
            li
                input(type="checkbox", value=`${quest.nickname}`, name="esfera" checked).esfera
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="esfera").esfera

        if quest.quests.cernium
            li
                input(type="checkbox", value=`${quest.nickname}`, name="cernium" checked).cernium
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="cernium").cernium

        if quest.quests.burningCernium
            li
                input(type="checkbox", value=`${quest.nickname}`, name="burningCernium" checked).burning-cernium
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="burningCernium").burning-cernium

        if quest.quests.arcs
            li
                input(type="checkbox", value=`${quest.nickname}`, name="arcs" checked).arcs
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="arcs").arcs

        if quest.quests.odium
            li
                input(type="checkbox", value=`${quest.nickname}`, name="odium" checked).odium
        else
            li
                input(type="checkbox", value=`${quest.nickname}`, name="odium").odium
